@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #00549e 0%, #7ee8fa 74%);
}

.container{
    max-width: 500px;
    margin-top: 50px;
}

.kitchen-title{
    text-align: center;
    font-size: 30px;
}

.kitchen-header{
    margin: 30px 0 20px;
    display: flex;
}

.kitchen-header input{
    height: 50px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 20px 0px 0px 20px;
    box-shadow: inset;
}

.kitchen-header button{
    font-size: 18px;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    transition: 0.3s;
    border-radius: 0px 20px  20px 0px;
}

.kitchen-header button:hover{
    background-color: rgba(0,0,0,0.8);
}

.kitchen-items-list{
    text-align: left;
    list-style: none;
    perspective: 1000px;
}

.kitchen-items-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color :#dfe0e0;
    background-image: linear-gradient(315deg, #c8dbdc 0%, #9f9f9f 74%);
    padding: 10px 15px;
    margin: 4px 0;  
    font-size: 18px;
    font-weight: 700;
    color: black;
    border-radius: 8px;
    animation: 0.3s ease-in-out;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);


    
    
}

.fa-trash, .fa-edit{
    cursor: pointer;
    background-color: white;
    padding: 6px 10px;
    border-radius: 7px;
    text-align: center;
    margin-top: 3px;
    color: #332d2d;
}

.fa-trash{
    margin-left: auto;
    margin-right: 15px;
}

/* Animate in */
@keyframes slideIn{
    from{
        opacity: 0;
        transform: rotateX(60deg) translateY(-10px);
    }
    to{
        opacity: 1;
        transform:rotateX(0deg) translateY(0px);
    }
}

/* Animate out */
.slideOut{
    transform: rotateX(60deg) translateY(-10px);
    opacity: 0;
    transition: 1s;
}

